{% extends 'base.html' %}

{% load static %}
{% block body_class %}background{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1>Favorite Units</h1>
    <div class="row">
        {% for favorite in favorites %}
        <div class="col-md-6 col-lg-4 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title"></h5>
                    <p class="card-text">
                        Unit: {{ favorite.unit.unit_number }}<br>
                        Address: {{ favorite.unit.building.address_number }} {{ favorite.unit.building.address_street }}, {{ favorite.unit.building.address_city }}, {{ favorite.unit.building.address_state }} {{ favorite.unit.building.address_zip_code }}<br>
                        Monthly Rent: ${{ favorite.unit.monthly_rent }}<br>
                        Square Footage: {{ favorite.unit.square_footage }} sqft<br>
                        Available Date for Move-In: {{ favorite.unit.available_date_for_move_in }}<br>
                    </p>
                    {% csrf_token %}
                    <button class="btn btn-danger like-btn" 
                        data-interest="{{ favorite.unit.id }}" 
                        id="unfavourite-btn-{{ favorite.uni.id }}"
                        onclick="toggleFavourite({{ favorite.unit.id }}, this)">
                        Unfavourite
                    </button>
                    <button class="btn btn-primary" onclick="location.href='{% url 'home:view_detail' favorite.unit.id %}'">More Details</button>



                </div>
            </div>
        </div>
        {% empty %}
        <p>No favorites found.</p>
        {% endfor %}
    </div>
</div>

<script>
    function getCsrfToken() {
        const csrfInput = document.querySelector('[name=csrfmiddlewaretoken]');
        return csrfInput ? csrfInput.value : '';
    }

    function toggleFavourite(unitId, element) {
    const isCurrentlyFavourited = element.textContent.trim() === "Unfavourite";
    fetch(`toggle_favorite/${unitId}/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': getCsrfToken(),
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({'interest_id': unitId, 'favourited': !isCurrentlyFavourited})
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'success') {
            element.textContent = data.is_favourited ? "Unfavourite" : "Favourite";
        } else {
            alert('Error: ' + data.message);
        }
    })
    .catch((error) => {
        console.error('Error:', error);
        alert('An error occurred: ' + error.message);
    });
}
</script>


{% endblock %}


