<!-- home/templates/home/home_page.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>User Interests</h1>
    <ul>
        {% for interest in interests %}
        <br>
            <li>
                
                <strong>User:</strong> {{ interest.user.username }} <br>
                <strong>Interested in Unit Number:</strong> {{ interest.unit.unit_number }} <br>
                <strong>Unit Details:</strong> <br>
                &emsp; Monthly Rent: ${{ interest.unit.monthly_rent }} <br>
                &emsp; Square Footage: {{ interest.unit.square_footage }} sqft <br>
                &emsp; Available Date For Move In: {{ interest.unit.available_date_for_move_in }} <br>
                <strong>Move-in Date:</strong> {{ interest.move_in_date }} <br>
                <strong>Roommates:</strong> {{ interest.roommate_count }}
            </li>
        {% empty %}
            <li>No interests found.</li>
        {% endfor %}
    </ul>
</body>
</html>
