{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container">
    

    <h1>Add New Interest</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <div id="companyNameDropDown">
            {{ interestForm.company_name }}
        </div>    
        <div id="buildingNameDropDown">
            {{ interestForm.building_name }}
        </div>
        
        
        <div id="newCompanyName" style="display: none;">
            {{ interestForm.new_company_name }}
            
        </div>
        <div id="newBuildingName" style="display: none;">
            
            {{ interestForm.new_building_name }}
        </div>


        <div id="bedroomContainer">
            <label for="bedrooms">Bedrooms:</label>
            <input type="text" name="bedroom1" id="bedroom1" class="bedroom-input">
            <button type="button" onclick="addBedroomField()">+</button>
        </div>
        <div class="unit_detail">
            
        </div>
        <input type="submit" value="Submit">
    </form>
</div>
<script src="{% static 'add_post/js/form_handler.js' %}"></script>


{% endblock content %}
